body {
  position: absolute;
  background: #333;
  overflow: hidden
}

#dropzone {
  position: relative;
  border: 4px dotted #FFF;
  border-radius: 20px;
  color: white;
  font: bold 24px/200px arial;
  margin: 2% auto;
  text-align: center;
  width: auto;
  height: 500px;
  background-image: url("../img/teste.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;  
}

line {
    stroke: steelblue;
    stroke-width: 2px;
    stroke-linecap: round;
}